<div class="showButtons">
    <button class="button-show" *ngIf="!show" (click)="showMore()">Show more information</button>
    <button class="button-show" *ngIf="show" (click)="showLess()">Show less information</button>
</div>
<div class="pokemon-grid">
    <div class="box" id="box" *ngFor="let pokemon of pokemonDisplay">
        <img [src]="pokemon.sprites.front_default" alt="Pokemon">
        <h3>{{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.substring(1) }}</h3>
        <span *ngIf="show">
            <p><b>Type: </b>{{ pokemon.types[0].type.name }}</p>
            <p><b>Height: </b>{{ pokemon.height }}</p>
            <p><b>Health: </b>{{ pokemon.stats[0].base_stat }}</p>
            <p><b>Attack Power: </b>{{ pokemon.stats[1].base_stat }}</p>
        </span>
        <app-catch-pokemon [pokemonName]="pokemon.name"></app-catch-pokemon>
    </div>
</div>