.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(23%, 200px));
}
.pokemon-grid #box {
    position: relative;
    min-width: 160px;
    height: 300px;
    border-radius: 2px;
    padding: 20px;
    margin: 10px;
    line-height: 16px;
    border: 1px solid white;
    font-size: 10px;
    box-shadow: 0 1px 0 1px black,inset 0 1px 0 1px black,0 0 0 1px black,inset 0 0 0 1px black;
    display: grid;
    text-align: center;
}

.pokemon-grid #box img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

button {
    width: 200px;
    height: 60px;
}
.showButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-show {
    font-size: 16px;
    background: none;
    padding: 10px;
    background-color: rgb(165, 164, 164);
    border-radius: 6px;
    font-family: 'pokemon_gbregular';
}
.button-show:hover {
    background-color: rgb(129, 128, 128);
}
