nav {
    padding: 20px 0px;
    text-align: center;
    background-color: rgb(40, 116, 72);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navLi {
    float: left;
}
.navImg {
    padding: 5px;
}
.navLi .navImg:hover {
    background-color: rgb(32, 93, 57);
}