<nav>
    <ul>
    <ng-container *ngIf="trainer == undefined">
        <li class="homepageLogoLi">
            <img class="homepageLogo" width="300px" src="assets/homepageLogo.png"/>
        </li>
    </ng-container>
    <ng-container *ngIf="trainer !== undefined">
        <li class="navLi">
            <a routerLink="/pokemons"><img class="navImg" width="150px" src="assets/pokeDex.png"/></a>
        </li>
        <li class="navLi">
            <a routerLink="/trainer"><img class="navImg" width="150px" src="assets/trainerProfileLogo.png" /></a>
        </li>
    </ng-container>
    </ul>
    
</nav>
