* {
    font-family: "pokemon_gbregular", Arial, sans-serif;
}
ul {
    padding: 10px;
}
li img {
    padding: 20px;
}
li {
    position: relative;
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.pokemonBox {
    padding: 20px;
}
.trainerField {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.trainerField img {
    width: 25px;
    padding: 10px;
}
@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../../../assets/webfontkit-20230228-050941/pokemongb-raeo-webfont.woff2') format('woff2'),
         url('../../../assets/webfontkit-20230228-050941/pokemongb-raeo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.box {
    font-size: 8px;
    border-radius: 2px;
    padding: 20px;
    line-height: 16px;
    margin: 10px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,inset 0 1px 0 1px black,0 0 0 1px black,inset 0 0 0 1px black;
}
.logoutField {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout {
    font-size: 20px;
    background: none;
    padding: 10px;
    background-color: rgb(165, 164, 164);
    border-radius: 6px;
    font-family: 'pokemon_gbregular';
}
.logout:hover {
    background-color: rgb(129, 128, 128);
}
  