<div class="">
    <div class="trainerField">
        <img src="assets/trainerSmall.png" />
        <h3 *ngIf="trainer"> Welcome <b>{{ trainer.username }} </b>!</h3>
    </div>
    <div class="logoutField">
        <button routerLink="/" (click)="logout()" class="logout" >Log out</button>
    </div>
    <div class="box">
        <h2>Bill's PC.</h2>
        <ul>
            <li class="box" *ngFor="let pokemon of pokemons">
                <div *ngFor="let pImg of pokemonDisplay"> 
                <img *ngIf="pokemon === pImg.name" 
                [src]="pImg.sprites.versions['generation-i'].yellow.front_default"
                alt="pokemonsprite">
                </div>
                {{pokemon.charAt(0).toUpperCase() + pokemon.substring(1)}}
                  <app-catch-pokemon [pokemonName]="pokemon"></app-catch-pokemon>
            </li>
        </ul>
    </div>
</div>


 