<aside>
    <ng-component *ngIf="isCatched; then Caugth else notCaugth"> </ng-component>
    <ng-template #notCaugth>
    <button (click)="onCatchClick()"><img width="20px" src="assets/pokeballNotCaugth.png"></button>
    </ng-template>
    <ng-template #Caugth>
    <button (click)="onCatchClick()"><img width="20px" src="assets/pokeballCaugth.png"></button>
    </ng-template>
</aside>

