<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="box">
        <img width="100px" src="../../../assets/trainerBig.png">
        <input type="text" name="username" class="username"
        ngModel
        #username="ngModel"
         placeholder="Trainer name ..."/>
         <button type="submit">Login</button>
    </fieldset>
<h4>FYI. In order to use the PokeDex your trainer name needs to be longer than 2 characters</h4>
</form>
