.username {
    width: 300px;
    height: 100px;
    font-size: 8px;
    border-radius: 2px;
    padding: 20px;
    line-height: 16px;
    margin: 10px;
    font-size: 15px;
    font-family: 'pokemon_gbregular';
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,inset 0 1px 0 1px black,0 0 0 1px black,inset 0 0 0 1px black;
}

@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../../../assets/webfontkit-20230228-050941/pokemongb-raeo-webfont.woff2') format('woff2'),
         url('../../../assets/webfontkit-20230228-050941/pokemongb-raeo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
button {
    font-size: 20px;
    background: none;
    padding: 10px;
    background-color: rgb(165, 164, 164);
    border-radius: 6px;
    font-family: 'pokemon_gbregular';
}
button:hover {
    background-color: rgb(129, 128, 128);
}
h4 {
    font-size: smaller;
    padding: 20px;
    font-family: 'pokemon_gbregular';
}
  
.box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 8px;
    border-radius: 2px;
    padding: 20px;
    line-height: 16px;
    margin: 10px;
    font-family: 'pokemon_gbregular';
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,inset 0 1px 0 1px black,0 0 0 1px black,inset 0 0 0 1px black;
}