* {
    font-family: "pokemon_gbregular", Arial, sans-serif;
}

@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../../../assets/webfontkit-20230228-050941/pokemongb-raeo-webfont.woff2') format('woff2'),
         url('../../../assets/webfontkit-20230228-050941/pokemongb-raeo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
    padding: 20px;
    text-align: center;
}

